.table-list tbody tr{
    cursor: pointer;
}

.table-list tbody tr td{
    position: relative;
}

.btndelete{
    display: none;
}

.table-list tbody tr:hover .btndelete {
    display: block;
    position: absolute;
    right: 4px;
    top: 1px;
}